import library

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import Data URL

In [47]:
df=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Bank%20Churn%20Modelling.csv')

In [48]:
df = pd.read_csv("Bank Churn Modelling.csv")


Analyse Data

In [49]:
df.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,Num Of Products,Has Credit Card,Is Active Member,Estimated Salary,Churn
0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerId        10000 non-null  int64
 1   Surname           10000 non-null  object
 2   CreditScore       10000 non-null  int64
 3   Geography         10000 non-null  object
 4   Gender            10000 non-null  object
 5   Age               10000 non-null  int64
 6   Tenure            10000 non-null  int64
 7   Balance           10000 non-null  float64
 8   Num Of Products   10000 non-null  int64
 9   Has Credit Card   10000 non-null  int64
 10  Is Active Member  10000 non-null  int64
 11  Estimated Salary  10000 non-null  float64
 12  Churn             10000 non-null  int64
dtypes: float64(2), int64(8), object(3)
memory usage: 1015.8+ KB

In [51]:
df.duplicated('CustomerId').sum()

0

In [52]:
df=df.set_index('CustomerId')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 15634602 to 15628319
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Surname           10000 non-null  object
 1   CreditScore       10000 non-null  int64
 2   Geography         10000 non-null  object
 3   Gender            10000 non-null  object
 4   Age               10000 non-null  int64
 5   Tenure            10000 non-null  int64
 6   Balance           10000 non-null  float64
 7   Num Of Products   10000 non-null  int64
 8   Has Credit Card   10000 non-null  int64
 9   Is Active Member  10000 non-null  int64
 10  Estimated Salary  10000 non-null  float64
 11  Churn             10000 non-null  int64
dtypes: float64(2), int64(7), object(3)
memory usage: 1015.6+ KB

Data Encoding

In [54]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [55]:
df.replace({'Geography':{'France':2,'Germany':1,'Spain':0}},inplace=True)

In [56]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [96]:
df.replace({0:'Female',1:'Male'},inplace=True)

In [58]:
df['Num Of Products'].value_counts()

Num Of Products
1    5084
2    4590
3     266
4      60
Name: count, dtype: int64

In [59]:
df.replace({'Num Of Products':{1:0,2:1,3:1,4:1}},inplace=True)

In [60]:
df['Has Credit Card'].value_counts()

Has Credit Card
1    7055
0    2945
Name: count, dtype: int64

In [61]:
df['Is Active Member'].value_counts()

Is Active Member
1    5151
0    4849
Name: count, dtype: int64

In [62]:
df.loc[(df['Balance']==0),'churn'].value_counts()

KeyError: 'churn'

In [ ]:
df['Zero Balance']=np.where(df['Balance']>0,1,0)

In [ ]:
df['Zero Balance'].hist()

In [63]:
df.groupby(['Churn','Geography']).count()

                 Surname  CreditScore  Gender   Age  Tenure  Balance  \
Churn Geography
0     0             2064         2064    2064  2064    2064     2064
      1             1695         1695    1695  1695    1695     1695
      2             4204         4204    4204  4204    4204     4204
1     0              413          413     413   413     413      413
      1              814          814     814   814     814      814
      2              810          810     810   810     810      810

                 Num Of Products  Has Credit Card  Is Active Member  \
Churn Geography
0     0                     2064             2064              2064
      1                     1695             1695              1695
      2                     4204             4204              4204
1     0                      413              413               413
      1                      814              814               814
      2                      810              810               810

                 Estimated Salary
Churn Geography
0     0                      2064
      1                      1695
      2                      4204
1     0                       413
      1                       814
      2                       810

Define Label and Features

In [ ]:
df.columns

In [ ]:
x=df.drop(['Surname','Churn'],axis=1)

In [ ]:
y=df['Churn']

In [ ]:
x.shape, y.shape

Undersampling and Oversampling

In [ ]:
df['Churn'].value_counts()

In [ ]:
sns.countplot(x='Churn',data=df);

In [ ]:
x.shape, y.shape

Random Under Sampling

In [ ]:
from imblearn.over_sampling import RandomOverSampler

In [ ]:
ros=RandomOverSampler(random_state=2529)

In [ ]:
x_ros,y_ros=ros.fit_resample(x,y)

In [ ]:
x_ros.shape,y_ros.shape,x.shape, y.shape

In [ ]:
y_ros.value_counts()

In [ ]:
y_ros.value_counts()

In [ ]:
y_ros.plot(kind='hist')

Train Test Split

In [64]:
from sklearn.model_selection import train_test_split

Split Orginal Data

In [65]:
X_train,y_train,X_test,y_test = train_test_split(X, y, test_size=0.3, random_state=25)

NameError: name 'X' is not defined

Split Random Under Sample Data

In [66]:
X_train_rus, X_test_rus, y_train_rus, y_test_rus = train_test_split(X_rus, y_rus, test_size=0.3, random_state=2529)

NameError: name 'X_rus' is not defined

Split Random Over Sample Data

In [67]:
X_train_ros, X_test_ros, y_train_ros, y_test_ros = train_test_split(X_ros, y_ros, test_size=0.3, random_state=2529)

NameError: name 'X_ros' is not defined

Standardize Features

In [68]:
from sklearn.preprocessing import standardScaler

ImportError: cannot import name 'standardScaler' from 'sklearn.preprocessing' (C:\Users\nagas\anaconda3\Lib\site-packages\sklearn\preprocessing\__init__.py)

In [69]:
sc = StandardScaler()

NameError: name 'StandardScaler' is not defined

Standardize Orginal Data

In [70]:
X_train[['CreditScore','Age','Tenure','Balance','Estimated Salary']] = sc.fit_tranform(X_train[['CreditScore','Age','Tenure','Balance','Estimated Salary']])

NameError: name 'sc' is not defined

In [71]:
x_test[['CreditScore','Age','Tenure','Balance','Estimated Salary']] = sc.fit_transform(X)

NameError: name 'sc' is not defined

Support Vector Machine Classifier

In [72]:
from sklearn.svm import SVC

In [73]:
svc.fit(X_train,y_train)

NameError: name 'svc' is not defined

In [74]:
y_pred = svc.predict(X_test)

NameError: name 'svc' is not defined

In [75]:
Model with Random Over Sampling

SyntaxError: invalid syntax (4224197111.py, line 1)

In [76]:
svc_ros = SVC()

In [77]:
svs_ros.fit(X_train_ros,y_train_ros)

NameError: name 'svs_ros' is not defined

In [78]:
y_pred_ros = svc_ros.predict(X_test_ros)

NameError: name 'X_test_ros' is not defined

Model Accuracy

In [79]:
confusion_matrix(y_test_rus,y_pred_rus)

NameError: name 'confusion_matrix' is not defined

In [80]:
print(classification_report(y_test_rus, y_pred_rus))

NameError: name 'classification_report' is not defined

Hyperparameter Tunning

In [81]:
param_grid={'C':[0.1,1,10],
            'gamma':[1,0.1,0,01],
            'kernel':['rbf'],
            'class_weight' :['balanced']}

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1210017405.py, line 2)

In [82]:
grid_ros = GridSearchCV(SVC(),param_grid,refit=True,verbose=2, cv=2)
grid_rus.fit(X_train_rus,y_train_rus)

NameError: name 'GridSearchCV' is not defined

In [83]:
print(grid_rus.best_estimator_)

NameError: name 'grid_rus' is not defined

In [84]:
grid_predictions_rus=grid_rus.predict(X_test_rus)

NameError: name 'grid_rus' is not defined

In [85]:
confution_matrix(y_test_rus,grid_prediction_rus)

NameError: name 'confution_matrix' is not defined

In [86]:
print(classification_report(y_test_rus,grid_prediction_rus))

NameError: name 'classification_report' is not defined

Summary

In [87]:
print(classification_report(y_test, y_pred))

NameError: name 'classification_report' is not defined

In [88]:
print(classification_report(y_test,grid_predictions))

NameError: name 'classification_report' is not defined

In [89]:
print(classification_report(y_test_rus, y_pred_rus))

NameError: name 'classification_report' is not defined

In [90]:
print(classification_report(y_test_rus,grid_prediction_rus))

NameError: name 'classification_report' is not defined

In [91]:
print(classification_report(y_test_ros, y_pred_ros))

NameError: name 'classification_report' is not defined

In [92]:
print(classification_report(y_test_ros,grid_predictions_ros))

NameError: name 'classification_report' is not defined